.container {
  width: 40vw;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

input, button, #description {
  height: 30px;
  padding: 0 20px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  border-bottom: 2px solid #0275d8;
}

#description {
  height: 60px;
  overflow-wrap: break-word;
  padding: 10px 20px;
  resize: none;
}

button {
  background-color: #0274d8b7;
  color: #fff;
  font-size: 15px;
  border: none;
}

button:hover {
  background-color: #0275d8;
  font-size: 15px;
  cursor: pointer;
}

table, td, th {
  border: 1px solid #0275d8;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 40vw;
  text-align: center;
  border-collapse: collapse;
  padding: 0 10px;
}

.display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}